{% assign defaultlang = settings['LanguageLocale/Code'] | default: 'en-us' %}
{% assign homeurl = website.adx_partialurl %}

<style>
  /* 1. Fuente Corporativa */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

  /* 2. Barra de Navegación */
  .navbar {
      background-color: #ffffff !important; 
      border-bottom: 5px solid #fbbf24; 
      font-family: 'Montserrat', sans-serif !important;
      padding: 5px 0 !important; 
      box-shadow: 0 4px 12px rgba(0,0,0,0.05);
      height: 90px; 
      display: flex;
      align-items: center;
      
      /* --- NUEVO: STICKY HEADER --- */
      position: sticky; 
      top: 0; 
      z-index: 1000; /* Asegura que flote sobre todo lo demás */
      width: 100%;
  }

  .navbar-brand {
      padding: 0 !important;
      margin: 0 !important;
      height: 100%;
      display: flex;
      align-items: center;
  }
</style>

<div class="navbar navbar-light static-top" role="banner">
    <div class="skip-to-content">
        <a href="#mainContent">{{ resx.Skip_To_Content | default: "Skip to main content" }}</a>
    </div>
    
    <div class="container-fluid" style="padding-left: 40px; padding-right: 40px; height: 100%;">
        <div class="navbar-brand navbar-header">
             {% editable snippets 'Mobile Header' type: 'html' %}
        </div>
    </div>
</div>

{% substitution %}
{% assign current_page = page.id %}
{% assign sr_page = sitemarkers["Search"].id %}
{% assign forum_page = sitemarkers["Forums"].id %}
{% if current_page %}
  {% if current_page == sr_page or current_page == forum_page %}
    {% assign section_class = "section-landing-search" %}
    {% if current_page == forum_page %}
      {% assign section_class = "section-landing-forums" %}
    {% endif %}
<section class="page_section {{ section_class | h }} color-inverse">
    <div class="row sectionBlockLayout sectionFixedStyle" style="display: flex; flex-wrap: wrap; text-align: center;">
        <div class="container" style="display: flex; flex-wrap: wrap;">
            <div class="col-lg-12 columnBlockLayout" style="display: flex; flex-direction: column; justify-content: center;">
                {% if current_page == sr_page %}
                <h1 id="mainContent">{% editable snippets 'Search/Title' default: resx["Discover_Contoso"] %}</h1>
                {% include 'Search' search_id:'search_control' %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endif %}
{% endsubstitution %}